.horna{
  background-color:#cccccc;
}
.table-sorted-asc{
  background-image:url(02_ascending.gif);
  background-repeat:no-repeat;
  background-position:left;
}
.table-sorted-desc{
  background-image:url(02_descending.gif);
  background-repeat:no-repeat;
  background-position:left;
}
.table-sortable{
  cursor:pointer;
  background-color:#999999;
  padding:0px 22px;
}
.login-button{
  position:fixed;
  left:-10px;
  top:75%;
  color:white;
  background-color:black;
  padding:5px;
  font-size:16px;
  font-family:Helvetica;
  text-decoration:none;
  border:1px solid white;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
